---
---

<head>
  <script src="https://cdn.jsdelivr.net/pyodide/v0.22.1/full/pyodide.js"
  ></script>
</head>

<!-- <h1>Python Code</h1> -->
<button id="runcode"><i class="fa-solid fa-play"></i> Run Code</button>
<span id="code" hidden><slot /></span>
<div id="editor"></div>
<div id="output"></div>

<script>
  import { basicSetup, EditorView } from "codemirror";
  import { keymap, lineNumbers } from "@codemirror/view";
  import { EditorState, Compartment } from "@codemirror/state";
  import { indentWithTab } from "@codemirror/commands";
  import { python } from "@codemirror/lang-python";
  import {
    runCode,
    setEngine,
    setOptions,
    PythonError,
  } from "client-side-python-runner";

  const updateOutput = (
    newText: string,
    clearCurrent: boolean = false,
    view2: EditorView
  ) => {
    console.log(view2);
    let transaction = view2.state.update({
      changes: { from: 0, to: view2.state.doc.length, insert: `${newText}` },
    });
    if (!clearCurrent) {
      transaction = view2.state.update({
        changes: { from: view2.state.doc.length, insert: `${newText}` },
      });
    }
    view2.dispatch(transaction);
  };

  const codeArray = document.querySelectorAll("#code") as NodeListOf<Element>;
  const editorArray = document.querySelectorAll(
    "#editor"
  ) as NodeListOf<Element>;
  const outputArray = document.querySelectorAll(
    "#output"
  ) as NodeListOf<Element>;
  const runCodeButtonArray = document.querySelectorAll(
    "#runcode"
  ) as NodeListOf<Element>;
  codeArray.forEach((codeBlock, i) => {
    const code = codeBlock.textContent as string;
    const editor = editorArray[i];
    editor.id = `editor${i}`;
    const output = outputArray[i];
    output.id = `output${i}`;
    const runCodeButton = runCodeButtonArray[i];
    runCodeButton.id = `runcode${i}`;
    const localStorageRef = `${window.location.href}-pycode-${i}`;
    const localStorageVal = localStorage.getItem(localStorageRef);

    // Editor Setup and View
    let language = new Compartment(),
      tabSize = new Compartment();
    let state = EditorState.create({
      doc: localStorageVal ? localStorageVal : code,
      extensions: [
        basicSetup,
        language.of(python()),
        keymap.of([indentWithTab]),
        tabSize.of(EditorState.tabSize.of(4)),
      ],
    });
    let view = new EditorView({
      state,
      parent: editor,
    });

    // Output Setup and View
    let state2 = EditorState.create({
      doc: `${i}: Click on the Run Code button to run the code.`,
      extensions: [
        basicSetup,
        EditorState.readOnly.of(true),
        lineNumbers({ formatNumber: () => "" }),
      ],
    });
    let view2 = new EditorView({
      state: state2,
      parent: output,
    });

    // Run Code Button
    runCodeButton.addEventListener("click", async () => {
      await setEngine("pyodide");
      setOptions({
        output: (output) => {
          updateOutput(output, false, view2);
        },
        error: (error) => {
          console.log({ error: error });
          updateOutput(
            "\n=== ERROR ===\n" + (error as PythonError)["error"].message,
            false,
            view2
          );
        },
        pythonVersion: 3,
      });
      updateOutput("", true, view2);
      await runCode(view.state.doc.toString());

      // Save codeBlock content to local storage
      localStorage.setItem(localStorageRef, view.state.doc.toString());
    });
  });
</script>
